/*フォント*/

body {
    color: #333333;
    font-family: sans-serif;
}


/*フォーム*/

form {
	padding: 20px;
	background-color: #B7483C;
}

form p {

	margin: : 0 0 5px 0;
}

label {
    
	margin: 0 0 5px 0;
	font-size: 14px;
	color: #fff;
}


/*ボタン*/

.button {
	margin-left: 14px;
}

